body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(45deg, #7751fe 0%, #00a9ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 90%;
  background-color: #f4f8f9;
  border-radius: 4px;
}
.container .headbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 100%;
  height: 50px;
}
.container .headbar .main {
  width: 85%;
  height: auto;
  margin: 25px auto;
}
